USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 1/23/2025 12:32:47 AM ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Inventory.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Inventory_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[Emptable]    Script Date: 1/23/2025 12:32:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Emptable](
	[EMP_ID] [varchar](20) NOT NULL,
	[NAME] [varchar](70) NOT NULL,
	[PASSWORD] [varchar](30) NOT NULL,
	[CONTACT] [varchar](12) NOT NULL,
	[ADDRESS] [varchar](70) NOT NULL,
	[DOB] [date] NOT NULL,
	[ROLE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Emptable] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 1/23/2025 12:32:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_Id] [int] NOT NULL,
	[EMP_ID] [varchar](20) NOT NULL,
	[Date] [date] NOT NULL,
	[Total] [float] NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Invoice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/23/2025 12:32:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Emptable] ([EMP_ID], [NAME], [PASSWORD], [CONTACT], [ADDRESS], [DOB], [ROLE]) VALUES (N'a-001', N'Labib', N'1234', N'01838255342', N'Kuril', CAST(N'2001-08-23' AS Date), N'admin')
INSERT [dbo].[Emptable] ([EMP_ID], [NAME], [PASSWORD], [CONTACT], [ADDRESS], [DOB], [ROLE]) VALUES (N'e-001', N'Rahat', N'444', N'01856446455', N'Dhanmondhi', CAST(N'2002-12-01' AS Date), N'employee')
INSERT [dbo].[Emptable] ([EMP_ID], [NAME], [PASSWORD], [CONTACT], [ADDRESS], [DOB], [ROLE]) VALUES (N'e-002', N'Rajon', N'333', N'01745264895', N'Gazipur', CAST(N'2003-07-16' AS Date), N'employee')
INSERT [dbo].[Invoice] ([Invoice_Id], [EMP_ID], [Date], [Total], [PaymentMethod]) VALUES (1, N'e-001', CAST(N'2024-12-23' AS Date), 5000, N'Cash')
INSERT [dbo].[Invoice] ([Invoice_Id], [EMP_ID], [Date], [Total], [PaymentMethod]) VALUES (2, N'e-001 ', CAST(N'2025-01-22' AS Date), 100, N'Bkash')
INSERT [dbo].[Invoice] ([Invoice_Id], [EMP_ID], [Date], [Total], [PaymentMethod]) VALUES (3, N'e-001 ', CAST(N'2025-01-22' AS Date), 50, N'Nagad')
INSERT [dbo].[Product] ([Product_ID], [Product_Name], [Category], [Price], [Quantity]) VALUES (1, N'Coke', N'Soft Drinks', 25, 250)
INSERT [dbo].[Product] ([Product_ID], [Product_Name], [Category], [Price], [Quantity]) VALUES (2, N'Savoy', N'Ice-Cream', 40, 350)
INSERT [dbo].[Product] ([Product_ID], [Product_Name], [Category], [Price], [Quantity]) VALUES (3, N'Mango', N'Juice', 30, 100)
USE [master]
GO
